<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Fuel Types</th>
    <th>Distance</th>
    <th>Access Times</th>
  </tr>
<% @stations.each do |station| %>
  <tr>
    <td><%= station['station_name'] %></td>
    <td><%= station['street_address'] %></td>
    <td><%= station['fuel_type_code'] %></td>
    <td><%= station['distance'] %></td>
    <td><%= station['access_days_time'] %></td>
  </tr>
<% end %>
</table>

<% @pages.times do |current| %>
  <%= link_to current, params: {q: @zip, distance: @distance, page: current } %>
<% end %>
